header
  nav.navigation
    .nav-wrapper
      a.brand-logo(href='/')
        img(src="/img/letter-e-48.png", alt="", srcset="") 
      a.sidenav-trigger.left(href='#' data-target='slide-out')
        i.material-icons menu
      ul#nav-mobile.right.hide-on-med-and-down
        li
          a.navigation__item(href='/') Home
        li
          a.navigation__item(href='/AllEmergencies') Emergencies
        if user
          li
            a(href='/account')
              .navigation__user
                img.responsive-img.circle(src=`/img/user/${user.photo}` onerror="this.onerror=null; this.src='/img/user/default.jpg'" alt='')
          li
            a.navigation__item(href='/account')=`${user.name}`
          li
            a.navigation__item(class='logout') Log Out
        else
          li
            a.navigation__item(href='/login') Login
          li
            a.navigation__item(href='/signup') Signup
  ul#slide-out.sidenav
    li
      .user-view
        .background
          img(src='/img/black.jpg')
        if user
          a(href='/account')
            img.navigation__user.circle(src=`/img/user/${user.photo}` onerror="this.onerror=null; this.src='/img/user/default.jpg'" alt='')
          a(href='/account')
            span.white-text.name=`${user.name}`
          a(href='/account')
            span.white-text.email=`${user.email}`
    li
      a.waves-effect(href='/') Home
    if user
      li
        a.waves-effect(href='/AllEmergencies') Emergencies
      li
      a.waves-effect(class='logout') Log Out
    else
      li
        a.waves-effect(href='/login') Login
      li
        a.waves-effect(href='/signup') Signup
      
