extends base

block content
  main.account-section
    section.form-user-data
      h1.form-user-data__heading.heading-secondary.u-center-text.u-margin-top-big.u-margin-bottom-small Your Account Details
      .row
        form#updateUserDetails-form.col.s12
          .input-field.col
            input#name.validate(type='text' value=`${user.name}` readonly='') 
            label#nameLabel(for='name')= 'Name'
          .input-field.col
            input#email.validate(type='email' value=`${user.email}` readonly='')
            label#emailLabel(for='email')= 'Email'
          .input-field.col.s2
            .form-user-data__profile-photo
              img.circle(src=`/img/user/${user.photo}` onerror="this.onerror=null; this.src='/img/user/default.jpg'" alt='')
          .input-field.col.s3
            input.form-user-data__upload(type='file', accept='image/*', id='photo', name='photo')
          .col.row
              button.login-from__input-button(type='submit') Submit
    section.form-user-password
      h1.form-user-password__heading.heading-secondary.u-center-text.u-margin-top-big.u-margin-bottom-small Password Change
      .row
        form#updateUser-password.col.s12
          .input-field.col
            input#current_password.validate(type='password')
            label#current_passwordLabel(for='current_password') Current Password
          .input-field.col
            input#new_password.validate(type='password')
            label#new_passwordLabel(for='new_password') New Password
          .input-field.col
            input#confirm_password.validate(type='password')
            label#confirm_passwordLabel(for='confirm_password') Password Confirm
          .col
            button.login-from__input-button Update
