extends base

block content
  main
    #cover
    section.emergencyMap
      button.btn-scroll__helpline
        i.medium.material-icons arrow_downward
      button.btn-refresh
        i.medium.material-icons gps_fixed
      #map(data-emergencyId = `${user===undefined?null:JSON.stringify(user.emergency===undefined?'no-emergency':user.emergency)}`)
      if user===undefined||user.emergencyActive==false
        button.btn-emergency Emergency
    section.nationalEmergencyHelpline
      h2.heading-secondary.nationalEmergencyHelpline__heading.u-center-text.u-margin-bottom-big.u-margin-top-big
        | National Emergency Helpline Numbres
      .row
        .col-1-of-3.nationalEmergencyHelpline__Card
          .nationalEmergencyHelpline__Card-icon
            img(src='./img/police.png' alt='' srcset='')
          .nationalEmergencyHelpline__Card-userName
            font Police
          input.browser-default.nationalEmergencyHelpline__Card-phone#PoliceN(type='number' value="100" readonly='')
          button.btn-copy.nationalEmergencyHelpline__Card-btn.button#Police
            font Copy
        .col-1-of-3.nationalEmergencyHelpline__Card
          .nationalEmergencyHelpline__Card-icon
            img(src='./img/ambulance.png' alt='' srcset='')
          .nationalEmergencyHelpline__Card-userName
            font Ambulance
          input.browser-default.nationalEmergencyHelpline__Card-phone#AmbulanceN(type='number' value="102" readonly='')
          button.btn-copy.nationalEmergencyHelpline__Card-btn.button#Ambulance Copy
        .col-1-of-3.nationalEmergencyHelpline__Card
          .nationalEmergencyHelpline__Card-icon
            img(src='./img/fireBrigade.png' alt='' srcset='')
          .nationalEmergencyHelpline__Card-userName
            font Fire Brigade
          input.browser-default.nationalEmergencyHelpline__Card-phone#FireN(type='number' value="101" readonly='')
          button.btn-copy.nationalEmergencyHelpline__Card-btn.button#Fire Copy
      .row
        .col-1-of-3.nationalEmergencyHelpline__Card
          .nationalEmergencyHelpline__Card-icon
            img(src='./img/ndrf.webp' alt='' srcset='')
          .nationalEmergencyHelpline__Card-userName
            font NDRF
          input.browser-default.nationalEmergencyHelpline__Card-phone#NDRFN(type='number' value="9711077372" readonly='')
          button.btn-copy.nationalEmergencyHelpline__Card-btn.button#NDRF Copy
        .col-1-of-3.nationalEmergencyHelpline__Card
          .nationalEmergencyHelpline__Card-icon
            img(src='./img/woman.png' alt='' srcset='')
          .nationalEmergencyHelpline__Card-userName.text-wrap
            font Women Helpline
          input.browser-default.nationalEmergencyHelpline__Card-phone#WomenN(type='number' value="1091" readonly='')
          button.btn-copy.nationalEmergencyHelpline__Card-btn.button#Women Copy
        .col-1-of-3.nationalEmergencyHelpline__Card
          .nationalEmergencyHelpline__Card-icon
            img(src='./img/siren.png' alt='' srcset='')
          .nationalEmergencyHelpline__Card-userName
            font Emergency
          input.browser-default.nationalEmergencyHelpline__Card-phone#NemergencyN(type='number' value="112" readonly='')
          button.btn-copy.nationalEmergencyHelpline__Card-btn.button#Nemergency Copy
    section.emergencyChatBox
      h2.heading-secondary.emergencyChatBox__heading.u-center-text.u-margin-bottom-small.u-margin-top-small
        | Chat Section
      #message-container.row.emergencyChatBox__messenger(data-username = `${user===undefined?null:JSON.stringify(user.name)}`)
        if user
          if emergency
            each chat in emergency.chats
              -let Chat = chat.split(':')[0]==user.name?`You:${chat.split(':')[1]}`:chat;
                .emergencyChatBox__message=Chat
      form#send-container.row
        input#message-input(type='text')
        if(user)
          button#send-button.btn(type='submit') Send
        else
          a.btn(href='/login') Send
    if user
      section.notifyAvengers#notifyAvengers
        h2.heading-secondary.notifyAvengers__heading.u-center-text.u-margin-bottom-big.u-margin-top-big
          | notify Avengers
        .row
          form.col-1-of-3.notifyAvengers__card
            if user.avengers.length > 0 
              .notifyAvengers__card-username=user.avengers[0].name
              .notifyAvengers__card-phoneNumber=user.avengers[0].phoneNumber
              button.notifyAvengers__card-button-delete DELETE
            else
              input.browser-default.notifyAvengers__card-username(type='text' placeholder='Name of Avenger')
              input.browser-default.notifyAvengers__card-phoneNumber(type='text' placeholder='His Phone Number')
              button.notifyAvengers__card-button-add ADD            
          form.col-1-of-3.notifyAvengers__card
            if user.avengers.length > 1 
              .notifyAvengers__card-username=user.avengers[1].name
              .notifyAvengers__card-phoneNumber=user.avengers[1].phoneNumber
              button.notifyAvengers__card-button-delete DELETE
            else
              input.browser-default.notifyAvengers__card-username(type='text' placeholder='Name of Avenger')
              input.browser-default.notifyAvengers__card-phoneNumber(type='text' placeholder='His Phone Number')
              button.notifyAvengers__card-button-add ADD            
          form.col-1-of-3.notifyAvengers__card
            if user.avengers.length > 2 
              .notifyAvengers__card-username=user.avengers[2].name
              .notifyAvengers__card-phoneNumber=user.avengers[2].phoneNumber
              button.notifyAvengers__card-button-delete DELETE
            else
              input.browser-default.notifyAvengers__card-username(type='text' placeholder='Name of Avenger')
              input.browser-default.notifyAvengers__card-phoneNumber(type='text' placeholder='His Phone Number')
              button.notifyAvengers__card-button-add ADD            
        .row
          form.col-1-of-3.notifyAvengers__card
            if user.avengers.length > 3 
              .notifyAvengers__card-username=user.avengers[3].name
              .notifyAvengers__card-phoneNumber=user.avengers[3].phoneNumber
              button.notifyAvengers__card-button-delete DELETE
            else
              input.browser-default.notifyAvengers__card-username(type='text' placeholder='Name of Avenger')
              input.browser-default.notifyAvengers__card-phoneNumber(type='text' placeholder='His Phone Number')
              button.notifyAvengers__card-button-add ADD            
          form.col-1-of-3.notifyAvengers__card
            if user.avengers.length > 4 
              .notifyAvengers__card-username=user.avengers[4].name
              .notifyAvengers__card-phoneNumber=user.avengers[4].phoneNumber
              button.notifyAvengers__card-button-delete DELETE
            else
              input.browser-default.notifyAvengers__card-username(type='text' placeholder='Name of Avenger')
              input.browser-default.notifyAvengers__card-phoneNumber(type='text' placeholder='His Phone Number')
              button.notifyAvengers__card-button-add ADD            
          form.col-1-of-3.notifyAvengers__card
            if user.avengers.length > 5 
              .notifyAvengers__card-username=user.avengers[5].name
              .notifyAvengers__card-phoneNumber=user.avengers[5].phoneNumber
              button.notifyAvengers__card-button-delete DELETE
            else
              input.browser-default.notifyAvengers__card-username(type='text' placeholder='Name of Avenger')
              input.browser-default.notifyAvengers__card-phoneNumber(type='text' placeholder='His Phone Number')
              button.notifyAvengers__card-button-add ADD            
        .row
          form.col-1-of-3.notifyAvengers__card
            if user.avengers.length > 6 
              .notifyAvengers__card-username=user.avengers[6].name
              .notifyAvengers__card-phoneNumber=user.avengers[6].phoneNumber
              button.notifyAvengers__card-button-delete DELETE
            else
              input.browser-default.notifyAvengers__card-username(type='text' placeholder='Name of Avenger')
              input.browser-default.notifyAvengers__card-phoneNumber(type='text' placeholder='His Phone Number')
              button.notifyAvengers__card-button-add ADD            
          form.col-1-of-3.notifyAvengers__card
            if user.avengers.length > 7 
              .notifyAvengers__card-username=user.avengers[7].name
              .notifyAvengers__card-phoneNumber=user.avengers[7].phoneNumber
              button.notifyAvengers__card-button-delete DELETE
            else
              input.browser-default.notifyAvengers__card-username(type='text' placeholder='Name of Avenger')
              input.browser-default.notifyAvengers__card-phoneNumber(type='text' placeholder='His Phone Number')
              button.notifyAvengers__card-button-add ADD            
          form.col-1-of-3.notifyAvengers__card
            if user.avengers.length > 8 
              .notifyAvengers__card-username=user.avengers[8].name
              .notifyAvengers__card-phoneNumber=user.avengers[8].phoneNumber
              button.notifyAvengers__card-button-delete DELETE
            else
              input.browser-default.notifyAvengers__card-username(type='text' placeholder='Name of Avenger')
              input.browser-default.notifyAvengers__card-phoneNumber(type='text' placeholder='His Phone Number')
              button.notifyAvengers__card-button-add ADD            
